.main {
  padding: 60px 66px;

  .input {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .lists {
    margin-top: 26px;
  }

  .list-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .text {
      color: rgba(0, 0, 0, 0.7);
      font-size: 14px;
      font-weight: bold;
    }

    .btns {
      margin-left: auto;
    }

    .button {
      margin-left: 16px;
    }
  }

  .preview {
    padding: 30px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);

    .loading {
      position: absolute;
      color: white;
      font-size: 38px;
    }

    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 24px;
      color: white;
      transition: all 0.25s ease-out;
      &:hover {
        transform: rotate(180deg);
      }
    }

    .video {
      width: 784px - 80px;
      height: 541px - 146px;
      outline: none;
    }
  }

  :global {
    .MuiFab-secondary {
      position: fixed;
      right: 10%;
      bottom: 10%;
    }
  }
}
